<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Users</title>

</head>
<body>
    <h1>Create a New User</h1>
    <!-- created the form for my js file -->
    <!-- created the api route and post -->
    <form action="/api/user?/https://my.api.mockaroo.com/users.json
    " method="POST ">
        <label for="name">
            Name: <input type="text" id="name" name="name">
        </label>
        <label for="username">
            Name: <input type="text" id="username" name="username">
        </label>
        <label for="email">
            Email: <input type="text" id="email" name="email">
        </label>
        <input type="submit" value="Create User">
    </form>
    
</body>
</html>